header{
    background-color: rgb(95, 224, 95);
    width: 100%;
}

img{
    width: 250px;
}
h1{
    font-size: 34px;
    color: rgb(1, 5, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 20PX;
    color: rgb(23, 70, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(180, 231, 160);
}
